* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoNerdFont;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#clock,
#pulseaudio,
#upower,
#window,
#workspaces {
    background: #1F2329;
    border-radius: 12px;
    color: #abb2bf;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 10px;
}

window {
    background-color: transparent;
    box-shadow: none;
}
