* {
    background: #1F2329;
    border: none;
    border-radius: 0;
    color: #abb2bf;
    font-family: JetBrainsMonoNerdFont;
    font-size: 13.5px;
    margin: 0;
    padding: 0;
}

#backlight,
#clock,
#disk,
#memory,
#pulseaudio,
#tray,
#window,
#workspaces {
    margin-right: 8px;
    margin-left: 8px;
}

#battery,
#network {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

#workspaces button.active label {
    color: #4fa6ed;
    font-weight: bold;
}

#clock {
    color: #4fa6ed;
}

#pulseaudio {
    color: #48b0bd;
}

#backlight {
    color: #98c379;
}

#memory {
    color: #bf68d9;
}

#disk {
    color: #e2b86b;
}
