* {
    background: #181818;
    border: none;
    border-radius: 0;
    color: #d8d8d8;
    font-family: JetBrainsMonoNerdFont;
    font-size: 13.5px;
    margin: 0;
    padding: 0;
}

#backlight,
#clock,
#disk,
#memory,
#pulseaudio,
#tray,
#window,
#workspaces {
    margin-right: 8px;
    margin-left: 8px;
}

#battery,
#network {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

#workspaces button.active label {
    color: #464646;
    font-weight: bold;
}
