* {
    background: #1d2021;
    border: none;
    border-radius: 0;
    color: #ebdbb2;
    font-family: RobotoMonoNerdFont;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#backlight,
#clock,
#disk,
#memory,
#pulseaudio,
#tags,
#tray,
#window {
    margin-right: 8px;
    margin-left: 8px;
}

#battery,
#network {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

#tags button.occupied label {
    color: #a9b665;
}

#tags button.focused label {
    color: #4fa6ed;
}

#workspaces button.active label {
    color: #4fa6ed;
    font-weight: bold;
}
